apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: wa-session
  name: wa-session
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
